{% set link_attributes = {
  'class': [
    'profile__logout-link',
  ],
} %}

<div class="profile">
  {% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'user'} %}
  <span class="profile__display-name">{{ display_name }}</span>

  <div class="profile--full">
    <div class="profile__information">
      <span class="profile__full-name">{{ full_name }}</span>
      <span class="profile__email">{{ email }}</span>
    </div>
    {{ link('Log out'|t, logout_url, link_attributes) }}
  </div>
</div>
