.block--profile-block {
  align-items: center;
  background-color: $color-black;
  color: $color-white;
  display: flex;
  grid-area: brand;
  justify-content: center;
  margin-left: $spacing;
  margin-right: calc(-1 * var(--header-branding-padding)); // Remove the spacing on right side.
  max-width: 88px; // Spesification from layouts.
  min-width: 72px; // Spesification from layouts.
  z-index: 1;

  @include breakpoint($breakpoint-m) {
    position: relative;
  }

  @include breakpoint($breakpoint-l) {
    margin-left: $spacing-and-half;
  }
}

.profile {
  @include font('special.navigation.icon_label');
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  .hel-icon {
    --icon-size: 24px;
    margin-bottom: $spacing-half;

    @include breakpoint($breakpoint-l) {
      --icon-size: 28px;
    }
  }
}

.profile__display-name {
  overflow: hidden;
  padding-left: $spacing-half;
  padding-right: $spacing-half;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.profile--full {
  background-color: $color-white;
  border-bottom: 1px solid $color-black-20;
  color: $color-black;
  position: absolute;
  right: 0;
  top: var(--branding-height);
  width: 100%;
  z-index: 2;

  @include breakpoint($breakpoint-m) {
    border-left: 1px solid $color-black-20;
    border-right: 1px solid $color-black-20;
    min-width: 300px; // As designed.
    top: 100%;
    width: auto;
  }
}

.profile__information {
  padding: $spacing;
}

.profile__full-name {
  @include font('h4');
  display: block;

  @include breakpoint($breakpoint-m) {
    @include font('h6');
  }
}

.profile__email {
  @include font('small');
  display: block;
}

.profile__logout-link {
  @include font('h4');
  border-top: 1px solid $color-black-20;
  display: block;
  padding: $spacing;
  text-decoration: none;
  width: 100%;

  @include breakpoint($breakpoint-m) {
    @include font('small');
  }

  @include breakpoint($breakpoint-l) {
    @include font('body');
  }

  &::after {
    @include pseudo-icon('signout');
    margin-left: $spacing-half;
  }
}
