.profile {
  @include font('special.navigation.icon_label');
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;

  .hel-icon {
    --icon-size: 24px;
    margin-bottom: $spacing-half;

    @include breakpoint($breakpoint-l) {
      --icon-size: 28px;
    }
  }
}

.profile--full {
  background-color: $color-white;
  border-bottom: 1px solid $color-black-20;
  color: $color-black;
  width: 100%;

  @include breakpoint($breakpoint-l) {
    border-left: 1px solid $color-black-20;
    border-right: 1px solid $color-black-20;
    max-width: 300px; // As designed.
  }
}

.profile__information {
  padding: $spacing;
}

.profile__full-name {
  @include font('body');
  display: block;
  font-weight: bold;
}

.profile__email {
  @include font('small');
  display: block;
}

.profile__logout-link {
  @include font('body');
  border-bottom: 1px solid $color-black-20;
  border-top: 1px solid $color-black-20;
  display: block;
  font-weight: bold;
  padding: $spacing;
  text-decoration: none;
  width: 100%;

  @include breakpoint($breakpoint-l) {
    border-bottom: none;
  }

  &::after {
    @include pseudo-icon('signout');
    margin-left: $spacing-half;
  }
}

.nav-toggle--profile {
  background-color: $color-black;
  color: $color-white;
  grid-area: profile;
  grid-column-end: -1;
  justify-content: center;
  margin-left: $spacing;
  max-width: 88px; // As designed.
  min-width: 72px; // As designed.
  z-index: 1;

  .nav-toggle__label {
    color: $color-white;
    padding-left: $spacing-half;
    padding-right: $spacing-half;

    span {
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &::before {
      @include pseudo-icon('user', 28px, currentColor, block);
      margin-bottom: $spacing-quarter;
    }
  }

  .nav-toggle__label--close {
    &::before {
      @include pseudo-icon-replace('cross');
      margin-bottom: 0;
    }
  }
}

.nav-toggle-dropdown--profile {
  grid-area: menu;

  .nav-toggle-dropdown__content {
    display: flex;
    justify-content: flex-end;
  }
}
