
.submission-print {
  &-wrapper {
    display:block;
    background-color: transparent;
    border: 0px transparent solid;
    border-spacing: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: auto;
    table-layout: auto;
    white-space: normal;
    caption {
      background: transparent;
      color: var(--color-black);
      width: 100%;
      display:block;
    }
    h1 {
      margin-top: 0;
    }
    > thead, > tfoot {
      display: none;
    }
    > tbody {
      display: block;
     tr, th, td {
       display: block;
       &:hover {
         background: transparent;
       }
     }
    }
    @media print {
      display: table;
      > thead {
        display: table-header-group;
      }
      > tfoot {
        display: table-footer-group;
      }
      tr {
        display: table-row;
      }
      th, td {
        display: table-cell;
      }
      .header-space {
        height: 2.5cm;
      }
      .footer-space {
        height: 2.5cm;
      }
      .header {
        position: fixed;
        top: 0;
      }
      .submission-print__footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 2cm;
        font-size: 10pt;
        .submission-print__footer-text {
          display: block;
          position: absolute;
          left: 2.3cm;
          bottom: 0.91cm
        }
        .hel-icon.logo__icon--sv + .submission-print__footer-text {
          left: 2.7cm;
          bottom: 0.65cm;
        }
        .hel-icon {
          mask: unset;
          -webkit-mask: unset;
          background: transparent;
          position: initial;
          height: 40px;
          &:before {
            content: var(--url);
            color: black;
            background: transparent;
            display: block;
            font-size: 20px;
            position: absolute;
            top: 0;
            left: 0.3cm;
            transform: scale(0.21);
            transform-origin: 0% 50%;
            height: 40px;
          }
          &.logo__icon--sv:before {
            transform: scale(0.25);
            top: 0.2cm;
          }
        }
      }
    }
  }
  @page {
    size: A4;
    margin: 0;
  }
  label {
    font-size: var(--fontsize-body-m);
    font-weight: bold;
    display: block;
    margin-bottom: var(--spacing-s);
  }
  &__sector-name {
    margin-bottom: var(--spacing-l);
  }
  &__header {
    &-branding {
      padding: 0;
      display: flex;
      justify-content: space-between;
      padding-bottom: var(--spacing-l);
      border-bottom: 1px solid var(--color-black-20);
      align-items: flex-end;
      flex-flow: row wrap;
      padding-top: var(--spacing-m);

      &-block {
        padding-bottom: var(--spacing-3-xs);
      }
      &-right {
        align-items: flex-end;
        display: flex;
        flex-flow: row wrap;
        gap: var(--spacing-l);
        padding-top: var(--spacing-m);
        > div {
          padding-bottom: var(--spacing-3-xs);
        }
      }
    }
  }
  &__footer {
    &-copyright {
      border-top: 1px solid var(--color-black-20);
      padding: var(--spacing-m) 0 0;
      margin-bottom: var(--spacing-layout-l);
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-start;
      .logo__icon {
        height: var(--spacing-xl);
      }
    }
    &-text {
      color: var(--color-black-60);
    }
  }
  &__label {
    margin-top: 0;
    font-size: var(--fontsize-body-m);
    font-weight: bold;
  }
  .js-form-type-item {
    margin-bottom: var(--spacing-l);
  }
  &--page {
    @media print {
      font-size: 10pt;
      display: table;
      table-layout: fixed;
      height: auto;
      h1 {
        margin-top: 1cm;
      }
      section {
        page-break-inside: avoid;
      }
      label {
        font-size: 10pt;
      }
      .wrapper>.header {
        padding-top: 0;
      }
      .main-content {
        margin-top: 0;
      }
      .webform-section-flex-wrapper {
        display: flex;
        flex-flow: row nowrap;
        gap: 3%;
        font-size: 10pt;
        h2 {
          width: 27%;
          font-size: 11pt;
        }
      }
      .container, .page-title {
        width: 100vw;
        max-width: 100vw;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
      }
      .header-branding {
        display: block;
        padding-bottom: 0.5cm;
        height: 2cm;
        border-bottom: 1pt var(--color-black-20) solid;
      }
      .submission-print__header-branding {
        padding: 1cm 0 0.3cm;
      }
      .submission-print__header {
        font-size: 10pt;
        h2 {
          font-size: 10pt;
        }
      }
      .block--branding {
        position: initial;
        .city-name {
          display: block;
          position: absolute;
          left: 2.7cm;
        }
        .hel-icon.logo__icon--sv + .city-name {
          left: 3.2cm;
          top: 0.85cm;
        }
        .hel-icon {
          mask: unset;
          -webkit-mask: unset;
          background: transparent;
          position: initial;
          height: 40px;
          &:before {
            content: var(--url);
            color: black;
            background: transparent;
            display: block;
            font-size: 20px;
            position: absolute;
            top: 0;
            left: 0.3cm;
            transform: scale(0.28);
            transform-origin: 0% 50%;
            height: 40px;
          }
          &.logo__icon--sv:before {
            transform: scale(0.33);
            top: 0.2cm;
          }
        }
      }
      .main-content {margin-top: 0;}
      .language-wrapper, .footer, button, .breadcrumb__container {
        display:none;
      }
    }
  }

}
