.profile-data {
  margin-block: 0;

  dt {
    @include font(small);
    font-weight: 500;
    margin-top: $spacing-and-half;

    &::after {
      content: '*';
      display: inline;
      margin-left: $spacing-quarter;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    margin-left: 0;
  }
}

.profile-data__links-wrapper {
  --line-height: 1.5;
  align-items: flex-start;
  border-top: 1px solid $color-black-20;
  display: flex;
  flex-direction: column;
  margin-top: $spacing;
  padding-top: $spacing;
}

.form-tool-profile-data--wrapper {
  .fieldset-wrapper {
    background-color: $color-silver-light;
    margin-top: $spacing;
    padding: $spacing;
  }

  .fieldset-legend {
    margin-bottom: 0;
  }
}

.profile-data__refresh-link {
  margin-top: $spacing;

  &::before {
    @include pseudo-icon('refresh', $spacing-and-half, currentColor);
    margin-right: $spacing-quarter;
    transition: transform .2s linear;
  }

  &:hover::before {
    transform: rotate(360deg);
  }
}
